[submodule "src/transformers"]
	path = src/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "src/LIBERO"]
	path = src/LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
